.btn {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.01rem;
  margin-left: 6px;
  padding: 7px 10px 7px 10px;
  &:focus {
    outline: none;
  }

  transition: color 0.3s ease;
  &:hover {
    color: darken($color: white, $amount: 16);
  }
}
.btn-primary {
  background-color: $primary;
  border-radius: 2px;

  &:disabled {
    background-color: lighten($color: $primary, $amount: 15);
  }

  &:hover {
    background-color: darken($color: $primary, $amount: 11);
  }
}

.btn-block {
  width: 100%;
}

.btn-danger {
  color: white;
  border-color: $red;
  background-color: $red;
  &:hover {
    color: darken($color: white, $amount: 12);
  }
}
