.journal__main-content {
  display: flex;
  height: 100vh;
}

.journal__sidebar {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
  word-wrap: break-word;
  // width: 450px;
}
.journal__sidebar-header {
  padding-right: 7px;
  span {
    font-size: 1.1rem;
  }
}
.journal__new-entry {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  transition: color 0.2s ease;
  &:hover {
    color: darken($color: white, $amount: 20);
  }
}

.journal__entries {
  flex: 1 1 auto;
  overflow-y: scroll;
}
.journal__sidebar-name {
  margin: 10px;
}
.text-red {
  color: $red;
}
.journal__entry {
  background-color: white;
  border-radius: 4px;
  color: $dark-grey;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  overflow: hidden;
  transition: font-family 0.2ms;
  &:hover {
    cursor: pointer;
    transform: scale(1.01);
  }
}
.journal__sidebar-welcome {
  padding-top: 7px;
}
.journal__entry-picture {
  height: 102px;
  width: 75px;
}
.journal__entry-body {
  padding: 10px;
}
.journal__entry-title {
  font-weight: bold;
  font-size: 1.1rem;
}

.journal__entry-content {
  font-size: 0.8rem;
}

.journal__entry-date-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  font-size: 12px;
}

.d-flex {
  display: flex;
}
.btn-toggle {
  display: none;
  padding: 14px;
}
.journal__sidebar-top {
  display: flex;
  justify-content: end;
}
.fa-bars {
  font-size: 1rem;
  padding: 10px;
  background-color: $dark-grey;
  color: white;
  border-radius: 60px;
}

//make responsive bars
@media (max-width: 660px) {
  .btn-toggle {
    position: absolute;
    top: -3px;
    max-width: 0px;
    display: block;
  }
}
.fa-right-from-bracket {
  transition: color 0.3s ease;
  font-size: 1.8rem;
  &:hover {
    color: darken($color: $red, $amount: 10);
  }
}
.journal__sidebar-navbar {
  margin-top: 15px;
  margin-bottom: 15px;

  padding-left: 5px;
  padding-right: 9px;
}
.journal__sidebar-header {
  display: flex;
  justify-content: space-around;
}

.journal__sidebar-header-name {
  margin-right: 2px;
}
