.nothing__main-content {
  align-items: center;
  background: linear-gradient(
      rgba(255, 255, 255, 1) 0%,
      rgba(251, 251, 251, 0.1) 100%
    ),
    linear-gradient(90deg, #84d2ff, #8d5acd);
  color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  p {
    text-align: center;
  }
}
